---
const year = new Date().getFullYear();
---

<!--begin::Footer-->
<footer class="app-footer">
  <!--begin::To the end-->
  <div class="float-end d-none d-sm-inline">Tutor inteligente</div>
  <!--end::To the end-->
  <!--begin::Copyright-->
    UFPA
  <!--end::Copyright-->
</footer>
<!--end::Footer-->
